/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}







/*

body:not(.bodycss) {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;            
    -webkit-user-select: none;                  
    background-color:#f6f6f6;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:500px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

Portrait layout (default)
.app {
    background:url(../img/logo.png) no-repeat center top; 
    position:absolute;             
    left:50%;
    top:50%;
    height:50px;                   
    width:225px;                   
    text-align:center;
    padding:180px 0px 0px 0px;     
    margin:-115px 0px 0px -112px;  
                                   
}


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height 
        margin:-90px 0px 0px -198px;   offset vertical: half of image height 
                                      /* offset horizontal: half of image width and text area width 
    }
}

h1 {
    color:#231f20;
    font-size:48px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding-left:10px;
    margin-left:270px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#hasiera{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-align: center;
    color: red;
}

#menu {
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #3c948b;
    color: #f6f6f6;
}


#menu a:link {
    color: white;
    text-decoration: none;
}

#menu a:visited {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: white;
    text-decoration: none;
}

#menu a:active {
    color: white;
    text-decoration: none;
}

#tmenu{
    background-color: #4444FF;
    height: 100%;
    width: 100%;
    border: 0px;
    border-radius: 41px 41px 41px 41px;
    -moz-border-radius: 41px 41px 41px 41px;
    -webkit-border-radius: 41px 41px 41px 41px;
    margin-right: 50px;
    margin-left: 10px;
   
}

#banner{
    width: 100%;
    float: left;
    color: black;
}

#banner a:link {
    color: black;
    text-decoration: none;
}

#banner a:visited {
    color: black;
    text-decoration: none;
}

#banner a:hover {
    color: black;
    text-decoration: none;
}

#banner a:active {
    color: black;
    text-decoration: none;
}

.title{
    margin-top: 10px !important;
}

#usuario{
    float: right;
}

iframe {
    width:100%;
    height:540px;
    float: left;
    display:block;
    border: none;
    margin-left: 30px;
    margin-top: 20px;
    background-color:transparent;
    overflow-y: scroll;
    overflow: hidden;
    
}

#imgH {
   margin-left:25%;
}

.bodycss{
    background-color:transparent;
    font-family: sans-serif;
    font-weight: 700;
    
}

#register {
    font-family: fuente;
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
    border: 2px solid;
    background-color: #83b5dd;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

#index{
    border-style:solid;
    border:1px;
    padding: -20px;
}

.bloque{
    height: 180px;
    width: 200px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	margin-top: 20px;
	
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.button:active {
	position:relative;
	top:1px;
}

@font-face{
    font-family: fuente;
    src: url("todo_servidor/fonts/Fragmentcore.tff");
}
    
.button2 {
  border-radius:5px;
  font-family: Arial;
  color: #0871c2;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #1f628d 3px;
  text-decoration: none;
  background: transparent;
}

.button2:hover{
  background: transparent;
  text-decoration: none;
}

.tablaListas {
	margin:0px;
	padding:0px;
	width:40%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.tablaListas table{
	width:30%;
	height:20%;
	margin:0px;
	padding:0px;
}.tablaListas tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.tablaListas table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.tablaListas table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.tablaListas tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.tablaListas tr:hover td{
	background-color:#82c0ff;

}
.tablaListas tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:sans-serif;
	font-weight:bold;
	color:#ffffff;
}.tablaListas tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
	background-color:#0069d3;
}.tablaListas tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.tablaListas tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.tablaListas td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:12px;
	font-family:sans-serif;
	font-weight:bold;
	color:#000000;
}.tablaListas tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablaListas tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablaListas tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
#entrar{
    margin-top:38px;
}*/


/* Klase onak */

.login {
    
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
    margin-top: 200px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-control-in {
    display: grid;
    height: 33px;
    width: 250px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: inherit;
}

.form-control {
    
    margin-bottom: 10px;
}

.btn-primary {
    
    letter-spacing: 2px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.menu {
    
    height: 60px;
}

.btn-secondary {
    
    letter-spacing: 2px;
    color: #fff;
    background-color: #129793;
    border: none !important;
    border-radius: 0px !important;
    height: 60px;
    width: 100%;
    padding-top: 15px !important;
}

.btn-secondary:focus, .btn-secondary:hover {
    
    color: #fff !important;
    text-decoration: none !important;
}

.btn-hiru {
    
    letter-spacing: 2px;
    color: #fff;
    background-color: #505050;
    border: none !important;
    border-radius: 0px !important;
    height: 60px;
    width: 100%;
    padding-top: 15px !important;
}

.btn-hiru:focus, .btn-hiru:hover {
    
    color: #fff !important;
    text-decoration: none !important;
}

.btn-lau {
    
    letter-spacing: 2px;
    color: #fff;
    background-color: #ff7260;
    border: none !important;
    border-radius: 0px !important;
    height: 60px;
    width: 100%;
    padding-top: 15px !important;
}

.btn-lau:focus, .btn-lau:hover {
    
    color: #fff !important;
    text-decoration: none !important;
}

.btn-bost {
    
    letter-spacing: 2px;
    color: #fff;
    background-color: #9bd7d5;
    border: none !important;
    border-radius: 0px !important;
    height: 60px;
    width: 100%;
    padding-top: 15px !important;
}

.btn-bost:focus, .btn-bost:hover {
    
    color: #fff !important;
    text-decoration: none !important;
}

.btn-irten {
    
    letter-spacing: 2px;
    color: #fff;
    background-color: #337ab7;
    border: none !important;
    border-radius: 0px !important;
    height: 60px;
    width: 100%;
    padding-top: 15px !important;
}

.btn-irten:focus, .btn-irten:hover {
    
    color: #fff !important;
    text-decoration: none !important;
}

.p-x-0 {
    
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.content {
    
    height: 740px;
    width: 100%;
    border-width: 0px;
}

::-webkit-scrollbar {
            
    width: 0px;
}

.close {

    font-size: 30px !important;
    vertical-align: top;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    
    vertical-align: middle !important;
}